.container{
    border: 1px solid black;
    background-color: pink;
    height: 650px;
width: 560px;
    display: grid;
    grid-template-rows: 30px 1fr  1fr 30px;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    grid-template-areas: 
    "hd"
    "side "
    "main"
    "ft"
    ;



}
.box{
    border: 1px solid red;
    background-color: peru;

}
#header{
    grid-area: hd;
}

#footer{
    grid-area: ft;
}
#sidebar{
    grid-area: side;
}
#main{
    grid-area: main;
}